body {
  /* background-image: url("./img/tecnologies.jpg"); */
  background-size: 100%;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: #141414;
}
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #141414;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
}
