@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --secondary-color: #ff7800;
    --font-color: #fff;
    --font-color2: #eeffee;
    --list-tec-color: #191919;
    --main-border: #313131;
    --shadow: #616161;
    --font-s1: 0.9rem;
    --mobfont-s1: 0.8rem;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --font-color: #141414;
    --font-color2: #eeffee;
    --shadow: #2c2c2c;
  }
}
body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: var(--font-color);
  background-color: var(--background);
  font-weight: 300;
}

h1,
h2,
h3,
h4,
p,
a {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
