.header {
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.1rem solid var(--border-color);
}
.logo {
  padding-left: 3rem;
  fill: var(--color-1);
}
.logo:hover {
  transition: 0.8s;
  fill: #a54d00;
}
.menu {
  justify-content: end;
  padding-right: 3rem;
  gap: 3rem;
}
.menu a {
  position: relative;
}
.menu a:after {
  position: absolute;
  content: "";
  display: block;
  height: 0.12rem;
  width: 0%;
  background-color: var(--color-2);
  margin-top: 0.2rem;
}
.menu a:hover:after {
  transition: 0.5s;
  width: 100%;
}
@media (max-width: 970px) {
  .header {
    padding: 1rem 0.01rem;
  }
  .menu {
    gap: 2rem;
  }
}
@media (max-width: 450px) {
  .header {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 0rem;
  }
  .logo {
    margin: auto;
    padding: 0px;
  }
  .menu {
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: auto;
    padding: 0px;
  }
  .menu li {
    margin: auto;
    font-size: var(--font-s1-mob);
    padding: 0.4rem;
  }
}
