.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: #04748c;
  border-bottom: 0.123rem solid #000000;
  padding: 1.5rem;
  background-image: url(img/tracos.svg);
}

.logo {
  margin-left: 0.8rem;
}

.menu {
  display: flex;
  justify-content: end;
  margin-right: 2.5rem;
  gap: 2.5rem;
}

.menu li {
  text-align: center;
  padding: 0.5rem;
  width: 5rem;
  border-radius: 0.35rem;
  background-color: #fff;
  border: 0.1rem solid #000;
}

.menu li:hover {
  background-color: #ff7800;
  transition: background-color 400ms;
}
